@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
     --light-blue: hsl(212, 45%, 89%);
     --middle-blue: hsl(216, 15%, 48%);
     --dark-blue: hsl(218, 44%, 22%);
     --bold-weight: 700px;
     --light-weight: 400px;
     --header-size: 22px;
     --paragraph-size: 15px;
}

*,
*:before,
*:after {
     box-sizing: border-box;
}

html,
body {
     font-family: "Outfit", Arial, sans-serif;
     margin: 0;
     padding: 0;
}
html {
     height: 100vh;
}
body {
     background-color: var(--light-blue);
     min-height: 100vh;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

h1 {
     font-size: var(--header-size);
     color: var(--dark-blue);
     font-weight: 700px;
}

p {
     font-size: var(--paragraph-size);
     color: var(--middle-blue);
     font-weight: var(--light-weight);
}
main {
     background-color: white;
     border-radius: 15px;
     padding: 15px;
     height: 50%;
     width: 80%;
}
footer {
     position: relative;
     top: 100px;
}
img {
     max-width: 100%;
     border-radius: 15px;
}

@media (min-width: 750px) {
     main {
          width: 18%;
          height: 40%;
     }
}
